# git 忽略文件
# 变量文件
.env

# 本地文件
local*

# tmp文件夹
tmp/
!tmp/.gitkeeps

# 本地编辑器
.idea
.vscode

__pycache__

# 编译文件
target

# 前端模组
node_modules
dist
dist-ssr
*.local
yarn-error.log
stats.html
package-lock.json

# 大文件
SmileySans-Oblique.ttf.woff2
